
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IC24 Egypt</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href=" {% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href=" {% static 'images/favicon/safari-pinned-tab.svg' %}" color="#041049">
    <meta name="msapplication-TileColor" content="#041049">
    <meta name="theme-color" content="#041049">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
  <main>
  <div class="background-pattern">
    <section class="login-form container password-reset">
      <h1>Forgotten your password?</h1>
      <p style="display: block;">Enter your <span style="font-size: 20px; color: var(--gold);">AIESEC</span> mail to obtain a new password.</p>
      <form action="." method="post">
        {{ form.as_p }}
        <input type="submit" value="Send e-mail" id="reset-btn">
        {% csrf_token %}
      </form>
    </section>
  </div>
</main>

</body>
</html>