{% load static %}
<div class="mobile-nav" style="display: none">
  <div class="nav-blocker"></div>
  <div class="nav-content">
    <a style="display: flex; justify-content: left" href="index.html"
      ><img class="logo" src="{% static 'images/IC/logo.webp' %}" alt=""
    /></a>
    <ul>
      <li style="margin-top: 19px">
        <a href="{% url 'register_view' %}">Register Now</a>
      </li>
      <li style="margin-top: 19px">
        <a href="{% url 'egypt' %}">Why Egypt</a>
      </li>
      <li style="margin-top: 19px">
        <a href="{% url 'store' %}">ic'24 store</a>
      </li>
      <li style="margin-top: 19px">
        <a href="{% url 'tours' %}">Tours</a>
      </li>
    </ul>
  </div>
</div>